@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #3366cc;
    --secondary-color: #525c86;
    --text-color: #0c1334;
}

body,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4 {
    font-family: Montserrat, Arial san-serif;
    font-weight: 800;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
p {
    font-size: 1.4rem;
    color: var(--text-color);
}

p,
article {
    font-family: Literata, Gamarond, serif;
}

.btn {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: 5px 10px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #fff;
    border: solid var(--primary-color) 1px;
}

.blog {
    font-size: 1.2rem;
    padding: 5px 10px;
}

.blog:hover {
    background-color: #b8dbf9;
    color: var(--primary-color);
    border: solid 2px;
}

.cta {
    background-color: #fff;
    color: var(--primary-color);
    font-size: 1.5rem;
    margin: 10px auto;
    padding: 5px 10px;
    box-shadow: -5px -5px var(--primary-color);
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
}

.cta:hover {
    transform: translate(-5px, -5px); /* Move the button into the shadow position */
    background-color: var(--primary-color); /* Match the shadow color */
    color: #fff; /* Invert text color for better contrast */
    box-shadow: none; /* Remove the shadow to create the effect */
}

header {
    top: 0;
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 20px;
    background: url("mesh-gradient.png") no-repeat left top scroll;
    background-size: cover;
    background-color: #3366cc;
    box-shadow: 2px 2px 5px var(--secondary-color);
}

header nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 50px;
    width: 250px;
    object-fit: cover;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.myName {
    color: var(--primary-color);
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 15px;
}

.myTitle {
    font-family: Literata, serif;
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 25px;
    text-transform: capitalize;
    transition: opacity 0.5s ease-in-out;
}

main {
    padding-top: 20px;
    margin: 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

h3 {
    width: 100%;
    border-bottom: var(--primary-color) solid 2px;
    text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
    h1, h2 {
        font-size: .70rem;
    }

    header nav {
        width: 100%;
        height: 2rem;
        display: flex;
        justify-content: space-around;
    }
    .hero {
        margin: 0 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
    }
    .myName { font-size: 3rem;}
    .myTitle {
        font-size: 2rem;
    }
    .cta {
        background-color: #fff;
        color: var(--primary-color);
        font-size: 1.5rem;
        margin: 10px;
        padding: 5px 10px;
        box-shadow: -5px -5px var(--primary-color);
        cursor: pointer;
        transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s ease;
    }
    .logo {
        height: 250px;
    }
    main {
        margin-right: 25px;
        margin-left: 25px;
        padding: 0;
    }
}
