{% extends 'base.html' %} {% load static %} {% block content %}
<article class="column">

    <!-- Who We are?  -->
    <section>
        <div class="p-2 mb-5">
            <h2>Who Are We?</h2>
            <hr>
            <p>
                We are a team of website developers. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt quaerat pariatur repudiandae quod eos neque temporibus enim sit eligendi deserunt, libero quas totam dolore exercitationem rem earum modi
                ullam autem! Ea, placeat obcaecati eius dolores architecto dolorum sint tenetur iure nostrum sed atque porro, sit unde quibusdam asperiores dolorem!
            </p>
        </div>
    </section>

    <!-- Core Values -->
    <section>
        <div class="p-2 mb-5">
            <h2>Core Values</h2>
            <hr>
            <div class="row">
                <ol>
                    <li>Trust</li>
                    <li>Honesty</li>
                    <li>Security</li>
                    <li>Innovation</li>
                </ol>
            </div>
        </div>
    </section>
    <!-- Services -->
    <section>
        <div class="p-2 mb-5">
            <h2>Services</h2>
            <hr>
            <div class="row">

                <div class="card col-lg-4">
                    <div class="card-header">
                        <h4>Website Developmet</h4>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Enterprise</li>
                            <li>E-commerce</li>
                            <li>Blog-sites</li>
                            <li>Landing sites</li>
                        </ul>
                    </div>
                </div>
                <div class="card col-lg-4">
                    <div class="card-header">
                        <h4>Digital Marketing</h4>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>SEO</li>
                            <li>Social Media</li>
                            <li>Content Creation</li>
                        </ul>
                    </div>
                </div>
                <div class="card col-lg-4">
                    <div class="card-header">
                        <h4>Systems Development</h4>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Invoicing System</li>
                            <li>Inventory Management System</li>
                            <li>Employee Management System</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Placeholder Section  -->
    <section>
        <div class="container-fluid p-5 mb-5">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis tempora aspernatur eaque ut id. Nisi deleniti libero modi tempora in molestiae quo nemo, nesciunt veniam at sapiente, voluptatem alias qui.
        </div>
    </section>
</article>
{% endblock content %}